/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 apr 2021, 16:50:31
    Author     : andre
*/

/*  versione PC sopra i 500px di larghezza */
@media only screen and (min-width: 500px) {
    .openHamburger, .closeHamburger{
        display: none;
    }
    .title{
        height: 80px;
        float:none;
        display:flex;
        justify-content: center; 
        text-align: center; 
        color:white;
        padding: 14px 16px;
        margin: 20px 0px 25px 0px;
        background-color: #4d73fa;
    }
    body{
        margin-top: -21px;
    }
    * {
        box-sizing: border-box
    }

    .nav-content { 
        width: 100%;
        background-color: #4d73fa;
        overflow: auto;
        margin-top: -25px;
    }
   .nav-content a {
        float: left;
        padding: 12px;
        color: white;
        background-color: #4d73fa;
        text-decoration: none;
        font-size: 20px;
        width: 33.33%; 
        text-align: center;
        border: solid 1px #4d73fa;
    }
   .nav-content a:hover {
        background-color: white;
        color:#4d73fa;
    }

}
/*  versione MOBILE sotto i 500px di larghezza */
@media only screen and (max-width: 500px) {
    .openHamburger, .closeHamburger{
        display: block;
    }
    body{
        margin-top: -25px;
    }
    #menumobile{
        margin-top: -5px;
    }

    header{
        height: 60px;
        background-color: #4d73fa;
    }
    header h1{
        padding-top: 10px; 
        text-align: center;
        color: white;
    }
    .openHamburger{
        margin-top: -60px;
        font-size:30px;
        cursor:pointer;
        float: right;
        color:white;
        padding: 10px 10px 10px 0px; 
    }
    .mnav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;/*salgo di un livello per mettere il menu a tendina a tutto schermo*/
        top: 0;
        right:  0;
        background-color: #4d73fa;
        overflow-x: hidden;
        transition: 0.5s;/*tempo di apertura del menu*/
    }
    .nav-content {
        position: relative;
        top: 20%;
        width: 100%;
        text-align: center;
    }
    .mnav a {
        padding: 10%;
        text-decoration: none;
        font-size: 36px;
        color: white;
        display: block;
        transition: 0.3s;
    }
    .mnav .closeHamburger {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 60px;
    }
}